name: Assign Project
run-name: Assign project under issue and pull requests

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  link-to-project:
    name: Auto-link to Project Threadzip
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Initialize Project Sidebar & Status
        env:
          GH_TOKEN: ${{ secrets.RZ_PROJECT }}
        uses: ./.github/actions/project-setup
        with:
          project_number: 1 # check using  gh project list --owner recursivezero
          issue_url: ${{ github.event.issue.html_url || github.event.pull_request.html_url }}
          issue_number: ${{ github.event.issue.number || github.event.pull_request.number }}
          # Logic: If it is a PR, use 'In Progress'. Otherwise, use 'Todo'.
          target_status: ${{ github.event_name == 'pull_request' && 'In Progress' || 'Todo' }}
          project_token: ${{ secrets.RZ_PROJECT }}
