name: Lint and Build
run-name: Lint and Build when push or raise PR

on:
  push:
    branches: ["main", "develop", "release", "feature/*"]
    paths: &filters
      - "src/**"
      - "package.json"
      - "package-lock.json"
      - "tsconfig.json"
      - "eslint.config.js"

  pull_request:
    branches: ["main", "develop", "release"]
    paths: *filters

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build
